{# Here comes the card markup #}

<div class="card card--{{theme}}">
    <div class="card__block">
        <h4 class="card__heading">Card title</h4>
        <p class="card__paragraph">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card__paragraph"><a href="#">Go somewhere</a></p>
    </div>
</div>
