{# Here comes the card markup #}

<div class="card">
  <div class="card__block">
    <h4>Card</h4>
    <div class="card__text">
      <p>
        hello world !
      </p>
    </div>
  </div>
</div>

<div class="card card--inverted">
  <div class="card__block">
    <h4>Inverted card</h4>
    <div class="card__text">
      <p>
        Wow, I'm so dark.
      </p>
    </div>
  </p>
</div>
