{# Here comes the card markup #}

<div class="card card--{{theme}}">
  <div class="card__block">
    <h4>Card</h4>
    <div class="card__text">
      <p>
        Hello world ! I'm {{theme}} card
      </p>
    </div>
  </div>
</div>
