// scss-lint:disable ColorVariable

$cards--font-size: trwl-theme-size('md') !default;
$cards--font-family: trwl-theme('font-family') !default;
$cards--font-weight: null !default;
$cards--text-transform: null !default;
$cards--letter-spacing: null !default;
$cards--line-height: null !default;
$cards--text-align: null !default;
$cards--text-decoration: null !default;
$cards--height: null !default;
$cards--margin: 0 0 2em !default;
$cards--border-width: trwl-theme('border-width') !default;
$cards--border-style: trwl-theme('border-style') !default;
$cards--border-color: (
  'default': trwl-theme-color('gray-medium'),
  '-primary': trwl-theme-color('primary'),
  '-success': trwl-theme-color('success'),
  '-warning': trwl-theme-color('warning'),
  '-danger': trwl-theme-color('danger'),
) !default;
$cards--border-radius: trwl-theme('border-radius') !default;
$cards--color: null !default;
$cards--background-color: rgb(255, 255, 255) !default;
$cards--box-shadow: null !default;
$cards--background: null !default;

$card-cover--height: 9.375em !default;

$card-block--padding: 1em !default;
$card-block--text-align: null !default;
$card-block--flex-basis: null !default;
$card-block--flex-shrink: null !default;
$card-block--flex-grow: 1 !default;

$card-heading--margin: 0 0 1em !default;
$card-heading--font-size: null !default;
$card-heading--font-weight: null !default;
$card-heading--font-family: null !default;
$card-heading--letter-spacing: null !default;
$card-heading--line-height: null !default;
$card-heading--text-align: null !default;
$card-heading--text-decoration: null !default;
$card-heading--color: (
  '-primary': trwl-theme-color('primary'),
  '-success': trwl-theme-color('success'),
  '-warning': trwl-theme-color('warning'),
  '-danger': trwl-theme-color('danger'),
) !default;

$card-paragraph--margin: 0 0 1em !default;
$card-paragraph--font-size: null !default;
$card-paragraph--font-weight: null !default;
$card-paragraph--font-family: null !default;
$card-paragraph--letter-spacing: null !default;
$card-paragraph--line-height: null !default;
$card-paragraph--text-align: null !default;
$card-paragraph--text-decoration: null !default;
$card-paragraph--color: null !default;
