$cards--font-size: null !default;
$cards--font-family: null !default;
$cards--font-weight: null !default;
$cards--text-transform: null !default;
$cards--letter-spacing: null !default;
$cards--line-height: null !default;
$cards--text-align: null !default;
$cards--text-decoration: null !default;

$cards--margin: null !default;

$cards--border-width: null !default;
$cards--border-style: null !default;
$cards--border-color: null !default;
$cards--border-radius: null !default;

$cards--color: null !default;
$cards--box-shadow: null !default;
$cards--background: null !default;
$cards--background-color: null !default;
